@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.192);
    max-width: 1200px;
}

nav{
    background-color: #ffffff;
    text-align: right;
    padding-right: 20px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 15px 20px 15px 20px;
    transition: .5s;
}

nav a:hover{
    background-color: #b6b6b6ad;
}

section#apr-servicos{
    background-color: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: center;
    padding: 20px;
}

div#apr-01{
    text-align: center;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin:  10px 20px 10px 20px;
    padding: 10px 10px 0px 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.281);
    
}
div#apr-02{
    text-align: center;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin:  10px 20px 10px 20px;
    padding: 10px 10px 0px 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.281);
    
}
div#apr-03{
    text-align: center;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin:  10px 20px 10px 20px;
    padding: 10px 10px 0px 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.281);
    
}

.linha{
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.432);
    margin: auto;
}

.btn-agendar{
    background-color: #881988ab;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid rgb(58, 58, 58);
    box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.363);
    cursor: pointer;
}