@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body{
    margin: auto;
    background-color: rgb(156, 156, 156);
    max-width: 1200px;
    
}

nav{
    background-color: #e2e2e2;
    text-align: right;
    text-decoration: none;
    max-width: 1200px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px 10px 20px;
    transition: .5s;
    
}

nav a:hover{
    background-color: rgba(78, 32, 119, 0.815);
}

section#apr-servicos{
    background-color: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: center;
    padding: 20px;
}

div#apr-01{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    width: 280px;
    height: 250px;
    margin:  10px 20px 10px 20px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.281);
}
div#apr-02{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    width: 280px;
    height: 250px;
    margin:  10px 20px 10px 20px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.281);
}
div#apr-03{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 10px;
    width: 280px;
    height: 250px;
    margin:  10px 20px 10px 20px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.281);
}
